body {
  background-color: antiquewhite;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: red;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: red;
}

/* form */

.form-container {
  background-color: whitesmoke;
  margin-bottom: 36px;
  border-radius: 10px;
  box-shadow: 0 20px 60px rgba(65, 50, 100, 0.08);
  padding: 22px;
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.6;
}

.instrucitons {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 1, 5;
  color: 272044;
  /* color - when you start typing in the form */
}

.submit-button {
  margin-left: 10px;
  background-color: red;
  color: whitesmoke;
  border: none;
  width: 150px;
  border-radius: 50px;
  padding: 14px 24px;
  font-size: 16px;
}

.poem {
  font-size: 16px;
  background-color: whitesmoke;
  padding: 20px;
  line-height: 2.5;
  font-weight: 400px;
  border-left: 3px solid red;
  box-shadow: 0 4px 30px rgba(65, 50, 100, 0.008);
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}

/* blink */

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
